# Secretos y Configuración
.env
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/

# Datos y Modelos (No subir imágenes de prueba pesadas o modelos locales)
data/inputs/*
!data/inputs/.gitkeep
models/*.pt
models/*.pth

# Logs y SO
*.log
.DS_Store

